LukeDucaSEAssignment2Sit1/Web References/MyService/ServiceController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceController" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="DoWork">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="DoWorkResponse">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="Login">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="uname" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="pass" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LoginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="LoginResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Register">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="firstName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="lastName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="roleId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RegisterResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubmitNewArticle">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="articleName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleDescription" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="dateOfPublish" type="xs:dateTime" />
            <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="mediaManagerId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStatusId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStateId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleCommentId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubmitNewArticleResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="AcceptOrRejectArticleByReviewer">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="artId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleDescription" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="dateOfPublish" type="xs:dateTime" />
            <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="mediaManagerId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStatusId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStateId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="commentContent" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleCommentId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AcceptOrRejectArticleByReviewerResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="AcceptOrRejectArticleByMediaManager">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="artId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleDescription" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="dateOfPublish" type="xs:dateTime" />
            <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="mediaManagerId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStatusId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStateId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="commentContent" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleCommentId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AcceptOrRejectArticleByMediaManagerResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="DeleteArticle">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="artId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteArticleResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="SubmitUpdatedArticle">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="artId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleDescription" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="dateOfPublish" type="xs:dateTime" />
            <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="mediaManagerId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStatusId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStateId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleCommentId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubmitUpdatedArticleResponse">
        <xs:complexType />
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="IServiceController_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServiceController_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceController_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceController_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceController_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IServiceController_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceController_SubmitNewArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNewArticle" />
  </wsdl:message>
  <wsdl:message name="IServiceController_SubmitNewArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNewArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceController_AcceptOrRejectArticleByReviewer_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptOrRejectArticleByReviewer" />
  </wsdl:message>
  <wsdl:message name="IServiceController_AcceptOrRejectArticleByReviewer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptOrRejectArticleByReviewerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceController_AcceptOrRejectArticleByMediaManager_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptOrRejectArticleByMediaManager" />
  </wsdl:message>
  <wsdl:message name="IServiceController_AcceptOrRejectArticleByMediaManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptOrRejectArticleByMediaManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceController_DeleteArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArticle" />
  </wsdl:message>
  <wsdl:message name="IServiceController_DeleteArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceController_SubmitUpdatedArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitUpdatedArticle" />
  </wsdl:message>
  <wsdl:message name="IServiceController_SubmitUpdatedArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitUpdatedArticleResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceController">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceController/DoWork" message="tns:IServiceController_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceController/DoWorkResponse" message="tns:IServiceController_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceController/Login" message="tns:IServiceController_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceController/LoginResponse" message="tns:IServiceController_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceController/Register" message="tns:IServiceController_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceController/RegisterResponse" message="tns:IServiceController_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitNewArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceController/SubmitNewArticle" message="tns:IServiceController_SubmitNewArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceController/SubmitNewArticleResponse" message="tns:IServiceController_SubmitNewArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptOrRejectArticleByReviewer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceController/AcceptOrRejectArticleByReviewer" message="tns:IServiceController_AcceptOrRejectArticleByReviewer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceController/AcceptOrRejectArticleByReviewerResponse" message="tns:IServiceController_AcceptOrRejectArticleByReviewer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptOrRejectArticleByMediaManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceController/AcceptOrRejectArticleByMediaManager" message="tns:IServiceController_AcceptOrRejectArticleByMediaManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceController/AcceptOrRejectArticleByMediaManagerResponse" message="tns:IServiceController_AcceptOrRejectArticleByMediaManager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceController/DeleteArticle" message="tns:IServiceController_DeleteArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceController/DeleteArticleResponse" message="tns:IServiceController_DeleteArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitUpdatedArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceController/SubmitUpdatedArticle" message="tns:IServiceController_SubmitUpdatedArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceController/SubmitUpdatedArticleResponse" message="tns:IServiceController_SubmitUpdatedArticle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceController" type="tns:IServiceController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServiceController/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceController/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IServiceController/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitNewArticle">
      <soap:operation soapAction="http://tempuri.org/IServiceController/SubmitNewArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptOrRejectArticleByReviewer">
      <soap:operation soapAction="http://tempuri.org/IServiceController/AcceptOrRejectArticleByReviewer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptOrRejectArticleByMediaManager">
      <soap:operation soapAction="http://tempuri.org/IServiceController/AcceptOrRejectArticleByMediaManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArticle">
      <soap:operation soapAction="http://tempuri.org/IServiceController/DeleteArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitUpdatedArticle">
      <soap:operation soapAction="http://tempuri.org/IServiceController/SubmitUpdatedArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceController">
    <wsdl:port name="BasicHttpBinding_IServiceController" binding="tns:BasicHttpBinding_IServiceController">
      <soap:address location="http://localhost:13413/Models/Services/ServiceController.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>